.coursesParent {
    background: url(../../../public/imgs/pattern2.webp);
}
.course {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 2rem 1rem;
    background: var(--color-grey-0);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.16);
    border-radius: 2rem;
    width: 100%;
    margin: 1rem;
    height: calc(100% - 2rem);
}
.courseImg img {
    max-height: 20rem;
    object-fit: cover;
    border-radius: 1rem;
}
.content {
    padding: 0rem 2rem 1rem;
    display: flex;
    flex-direction: column;
    gap: 3rem;
    height: 100%;
    justify-content: space-between;
}

.courses {
    margin-top: 5rem;
    display: flex;
}
.contact {
    margin-top: 1rem;
    color: var(--color-grey-0);
    font-weight: 700;
    background: var(--color-brand-600);
    /* width: fit-content; */
}
.contact:hover {
    background: var(--color-sec-600);
}
